.sidebar {
    background-color: black;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.admin-container {
    width: 100%;
}

ul.side-menu {
    margin-left: 15%;
    margin-top: 52px;
}

ul.side-menu li i {
    background-color: #fff;
    color: black;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
}

ul.side-menu li a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.icon {
    width: 33px;
    height: 33px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    margin: auto 10px;
    color: black;
    text-align: center;
}

ul.side-menu li {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    padding: 10px 30px;
    margin: 10px;
    color: white;
    border-radius: 30px 0px 0px 30px;
}

ul.side-menu li.active {
    padding: 10px 30px;
    background-color: white;
    color: black;
    width: 101%;
    cursor: pointer;
    border-right: 1px solid lightgrey;
    border-radius: 30px 0px 0px 30px;
}

ul.side-menu li.active a {
    color: black;
}

ul.side-menu li.active .icon {
    color: white;
    background-color: #000;
}

/* Add blog */

.main-content {
    height: 100vh;
    padding: 30px 0px;
    margin-left: 25%;
    background-color: #f3f3f3;
}

.main-content h1 {
    text-transform: uppercase;
}

.main-content input, .main-content textarea {
    font-weight: 500;
    color: black;
}

.from-wrapper {
    background-color: #fbfbfb;
    padding: 30px;
    width: 95%;
    margin: 0px auto;
    border: 1px solid lightgrey;
}

.upload {
    border: 1px solid lightgrey;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.upload svg {
    font-size: 50px;
}

.upload p {
    font-weight: 500;
}

#upload {
    display: none;
}

.submit-btn {
    padding: 10px 50px;
    background-color: black;
    color: white !important;
    font-weight: 500;
    border: none;
}

/* All blog */

.main-content {
    height: fit-content;
    padding: 30px 0px;
    margin-left: 25%;
    background-color: #f3f3f3;
}

.main-content h1 {
    text-transform: uppercase;
}

.blog-wrapper {
    background-color: #fbfbfb;
    width: 95%;
    margin: 0px auto;
    padding: 30px;
    border: 1px solid lightgrey;
}

/* Drivers */

.main-content {
    height: 100vh;
    padding: 30px 0px;
    margin-left: 25%;
    background-color: #f3f3f3;
}

.main-content h1 {
    text-transform: uppercase;
}

.driver-wrapper {
    background-color: #fbfbfb;
    width: 95%;
    margin: 0px auto;
    padding: 30px;
    border: 1px solid lightgrey;
}

/* Brands */

.main-content {
    height: 100vh;
    padding: 30px 0px;
    margin-left: 25%;
    background-color: #f3f3f3;
}

.main-content h1 {
    text-transform: uppercase;
}

.brand-wrapper {
    background-color: #fbfbfb;
    width: 95%;
    margin: 0px auto;
    padding: 30px;
    border: 1px solid lightgrey;
}

/* Adavaneue Last call action section */

.call-to-action {
    width: 70%;
    height: 500px;
    margin: 0px auto;
    border-radius: 15px;
    background-image: url('../img/Pitch-Deck-Source.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.call-to-action .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #3163AE;
    border-radius: 15px;
    opacity: .7;
}

.call-to-action .under-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action button.btn.btn-play-store {
    background: transparent;
    border: 2px solid white;
    padding: 10px 30px;
    font-size: 27px;
    color: white;
    font-weight: 700;
    border-radius: 7px;
}

/* Join with us section */

.join-with-us {
    width: 100%;
    height: 500px;
    margin: 0px auto;
    background-image: url('../img/2c3345_9ee74ded8b314e1fa360039c9e0fdda9_mv2_d_4000_2473_s_4_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.join-with-us .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #010000;
    opacity: .7;
}

.join-with-us .under-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-with-us button.btn.btn-play-store {
    background: transparent;
    border: 1px solid white;
    padding: 15px 50px;
    font-size: 27px;
    color: white;
    font-weight: bold;
    border-radius: 7px;
}